// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//sidebar with scrolling
.skin-green-light {
	.main-sidebar {
		box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
		overflow-y:scroll;
		top: 50px;
		padding-top: 0px;
		margin-bottom: 60px;
		
		.sidebar-form {
			.input-group {
				input {
					height: 41px; // so that it is aligned with sidebar toggle button
				}
			}
		}
	}
}

// toggle button for sidebar  
.sidebar-toggle-div {
	//z-index: 801;
	position: relative;
	left: 400px;
	top: -100%;
	
	.sidebar-toggle {
		width: 35px; 
		height: 35px; 
		background-color: white; 
		cursor: pointer; 
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
	}
}

.hammock-header span {
	width: 3;
}

// styling of entries in sitebar
.sidebar {
	
	.sidebar-menu {
		
		.search-entry, .search-entry-single {
			overflow: auto;
			
			h2 {
				color: #3c8dbc;
			}
			
		}
	}

}
